@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './pages/home.css';

@import '../components/blog-item/style.css';
@import '../components/header/style.css';
@import '../components/work-item/style.css';

@import 'tailwindcss/utilities';

* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #121619;
  @apply text-white antialiased;
}

.container {
  @media screen and (min-width: 1200px) {
    @apply max-w-[1200px];
  }
  @media screen and (max-width: 640px) {
    max-width: 90%;
  }
}

.subheading {
  @apply text-3xl font-semibold;
  @screen sm {
    @apply text-4xl;
  }
  @screen lg {
    @apply text-5xl;
  }
}

.subdescription {
  @screen lg {
    @apply text-xl;
  }
}

.works-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5;
}

.text-gradient {
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  background: linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
}
